<app-navbar></app-navbar>

<section class="create-card">

  <h2>Create User</h2>

  <form (ngSubmit)="createUser()">

    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      placeholder="Username"
      required>

    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Password"
      required>

    <input
      type="number"
      name="age"
      [(ngModel)]="age"
      min="1"
      placeholder="Age"
      required>

    <select
      name="role"
      [(ngModel)]="role">

      <option value="user">
        Regular User
      </option>

      <option value="groupAdmin">
        Group Admin
      </option>

      <option value="superAdmin">
        Super Admin
      </option>

    </select>

    <button type="submit">
      Create User
    </button>

  </form>

  <p *ngIf="message">
    {{ message }}
  </p>

  <p *ngIf="error">
    {{ error }}
  </p>

</section>